

    <link rel="stylesheet" href="/styles/contacts.css">
<body>
    <header>
        <div>
            <a href="/">
                <h1>CONTACTS APP</h1>
            </a>
        </div>
        <nav>
            <a href="/">LOGOUT</a>
        </nav>
    </header>

    {{!-- ARTICLE -> Esto es la zona de contactos, para poder ver todos y cada uno con sus nombres y números de teléfono  --}}
    <article>
        {{#each contacts}}


        <div class="contact">
                    
            <img src="https://static.vecteezy.com/system/resources/previews/020/911/740/original/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png" alt="userIcon" class="userIcon">

            <div>
                <p>{{this.name}}</p>
                <p id="tlf">{{this.tlfnum}}</p>
            </div>

            <nav class="contactNav">
                <form action="/contacts/delete/{{this.id}}" method="post">


                    <button type="submit" class="remove">
                        <img class="removeImg" src="https://cdn-icons-png.flaticon.com/512/1828/1828945.png" alt="remove">
                    </button>
                </form>
            </nav>

        </div>

        {{/each}}

    </article>
    
    {{!-- FOOTER -> Aquí se puede encontrar diversa informacion de la página si estás en PC o un botón para añadir contacto si estás en móvil. Ambas opciones siempre estarán junto a un botón de LOGOUT para poder cerrar sesión cuando quieras --}}
    <div id="addContact-form">

            <form action='/contacts/{{username}}/add' method="get">

                <button type="submit" id="addContact">

                    <img id="addContactImg" src="https://cdn-icons-png.flaticon.com/512/992/992651.png" alt="addContact"> 

                </button>
                
            </form>

    </div>

    <footer>
        <div>
            <nav>
                <a href="#">LOGOUT</a>
            </nav>

            <h4 style="font-weight: bold;">{{username}}</h4>

        </div>
    </footer>
</body>
